name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install black flake8 pytest pytest-html pytest-xdist

      - name: Run Black formatter check
        run: black --check .

      - name: Run Flake8 linting
        run: flake8 .

      - name: Run Pytest (headless mode)
        env:
          BASE_URL: https://saucelabs.com
          BROWSER: chrome
        run: pytest -v --maxfail=1 --disable-warnings --html=reports/report.html

      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-report
          path: reports/report.html
